* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

}


.BackgorundSide {
    width: 50%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(to bottom, #3B8686, #79BD9A, #A8DBA8) ;
}

.BackgorundSide img {
    width: 300px;
}


.FormSide {
    width: 50%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.FormContainer {
    width: 100%;
    height: 30rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.FormContainer input {
    width: 20rem;
    height: 2rem;
    padding-left: 10px;

    border: none;
    border-bottom: 1px solid;
}

.ButtonCadastro {
    width: 10rem;
    height: 2rem;

    color: white;
    background: #12AD1A;

    border-radius: 30px;
    border: none;

    cursor: pointer;
}